{{! # Note: The characters @ # ; : ? / are not allowed in the packagename.}}
{{! # Note: these resource paths wont show up in dev tools until you attempt to import a library or resource from them}}
resource {{addon.chromeResource}} .

{{! # source for the addon icon }}
content {{addon.chromeResource}}-icons .

